*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.games {
  display: flex;
  height: 100vh;
  width: 100vw;
  max-width: 90rem;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.game {
  display: flex;
  align-items: center;
  box-shadow: 0 0 5px;
  border-radius: 4px;
  width: 40rem;
  min-width: 500px;
  height: 12.5rem;
  margin: 1rem;
}
.game > * {
  width: 100%;
}

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 100%;
}

.team-name {
  font-size: 1.5rem;
}
.logo {
  height: 4rem;
}
.game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score {
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

.game-status {
  font-size: 1.5rem;
  font-weight: 800;
}
.game-finished {
  color: red;
}
.game-live {
  color: green;
}
